/* use 'rem' instead 'em' is one good practice */

:root {
    --page-wrap:70vw;
    --content-simetry: 60px;
    --icon-size: 30px;
    --icon-size-hover: calc(var(--icon-size) * 1.1);
    --icon-size-stabilize: calc(var(--icon-size) * 1.4);
    --main-color: rgba(234, 255, 140, 1);
}

html, body {
    /* use 10px is good to 'rem' fast calculate, 62.5% of 16px is 10px too, 16px is the default browser font-size */
    font-size: 10px;
    /* we can use "web safe fonts" or "google fonts" as good practices. */
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    letter-spacing: 1.1px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.animation {
    background: linear-gradient(-45deg, rgba(206, 36, 93, 0.2), rgba(206, 36, 93, 0.2), rgba(206, 36, 93, 0.2), rgba(238, 119, 82, 0.2  ), rgba(42, 197, 161, .97), rgba(36, 160, 206, .97), rgba(36, 160, 206, 0.98), rgba(36, 160, 206, 0.99));
    background-size: 1000% 1000%;
    min-height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
	}
	50% {
        background-position: 100% 50%;
	}
	100% {
        background-position: 0% 50%;
	}
}

.container{
    width: var(--page-wrap);
    margin: 0 auto;
    padding-top: 49px;
    overflow: hidden;
}

nav{
    position: fixed;
    top:0;
    left: 0;
    background:rgba(56, 56, 56, .9);
    width:100%;
}

.navbar{
    width: var(--page-wrap);
    margin: 0 auto;
}

#logo {
    font-weight: 800;
}

.navbar li{
    display: inline-block;
}

/* many times, to use "float" requires the use of "clear: both" option later. */
.navbar ul{
    float: right;
}

.navbar a{
    font-size: 1.4rem;
    display: inline-block;
    padding: 15px 15px 13px 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
}

.nav-icon {
    font-size: 1.7rem;
}

/* this is a "pseudo-classe" or "sudo selector" */
.navbar a:hover,
.navbar .current {
    background: rgba(255, 255, 255, 0.1);
    font-weight: 800;
    color: var(--main-color);    
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

.navbar a:active{
    background: rgba(121, 121, 121, 0.8);
}


header {
    margin: 0 auto 20px auto;
    color: white;
    text-align: center;
    padding-top: var(--content-simetry);
}

header p {
    font-size: 1.7rem;
    letter-spacing: .5em;
    font-weight: 500;
    text-transform: uppercase;
}

h1 {
    font-size: 5.2rem;
    font-weight: 700 !important;
    text-shadow: 3px 3px #4444;
}

MyTag{
    color: var(--main-color);
}

main {
    color: white;
}

#welcome{
    font-size: 1.4rem;
    font-weight: 200;
    text-align: center;
}

#welcome a {
    text-decoration: none !important;
    color: var(--main-color);
}

#social-media{
    margin: var(--content-simetry) 0;
    font-size: 1.3rem;
    text-align: center;
}

.icon-stabilize i{
    text-decoration: none !important;
    color: white !important;
    font-size: 1px;
    padding-top: var(--icon-size-stabilize);
    padding-bottom: 20px;
    /* display:none is other option but with one different behavior */
    visibility: hidden;
}

.icon i{
    text-decoration: none !important;
    color: white !important;
    padding: 10px 8px;
    font-size: var(--icon-size);
}

.icon i:hover{
    text-decoration: none !important;
    color: var(--main-color) !important;
    padding: 10px 8px;
    font-size: var(--icon-size-hover);
}

footer {
    color: white;
    font-weight: 800;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* we can use the nomenclature -> @media(min-width:500px) and (max-width:800px) to activate some appearence in this range */
/* or see -> @media only screen and (max-width:800px) */
@media(max-width:800px) {
    :root {
        --page-wrap: 80vw;
    }

    html, body{
        font-size: 9px;
    }

    nav{
        text-align: center;
    }
    
    .navbar ul{
        float: none;
        /* display: none; */
    }
    
    .navbar li {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .navbar a {
        display: block;
    }
}